//- views/email/memoryNotification.pug
doctype html
html
  head
    meta(charset='utf-8')
    title New Memory Notification
  body
    h2 New Memory Shared on #{profileName}
    p Hi,
    p One memorial visitor, 
      strong #{visitorName} 
      |  has shared their memory on 
      strong #{profileName}'s 
      |  profile.
    p Please review and approve/deny it to appear publicly on the profile.
    br
    p Regards,
    p Your Team Magnolia Touch
